@charset "UTF-8";


.header-right a[href="profile.html"]::before{
    transform: scaleX(1);
}

#profile{
    margin-bottom:120px;
    padding-top:110px;
}
.profile-content{
    width:90%;
    margin:0 auto;
    display: flex;
    align-items: center;
    gap:60px;
}
.profile-content img{
    width:34%;
}
.profile-content h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom:10px;
}
.profile-content p:not(:last-of-type){
    margin-bottom:20px;
}
.profile-content p:first-of-type{
    margin-bottom:40px;
}





@media screen and (max-width:768px){
    #profile{
        margin-bottom:100px;
        padding-top:120px;
    }
    .profile-content{
        flex-direction: column;
    }
    .profile-content img{
        width:100%;
    }
    .profile-content p:not(:last-of-type){
        margin-bottom:10px;
    }
    .profile-content p:first-of-type{
        margin-bottom:30px;
    }
}